/*
---------------------------------------------------------------
* --- Mixins
---------------------------------------------------------------
*/
@mixin col-center-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin vertical-line {
    width: 5px;
    height: 50px;
    background: $accent1;
    margin: 75px auto
}

@mixin row-center-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin mobile-border {
    border: 5px solid $bannerBorder;
    border-top: 20px solid $bannerBorder;
    border-bottom: 40px solid $bannerBorder;
    box-shadow: 0px 0px 0px 3px #303030;
    border-radius: 10px;
}

@mixin mobile-banner-border {
    border: 5px solid $bannerBorder;
    border-top: 20px solid $bannerBorder;
    border-bottom: 40px solid $bannerBorder;
    box-shadow: 0px 0px 0px 3px #303030;
    border-radius: 10px;
 }