/*
---------------------------------------------------------------
* --- Component Styling
---------------------------------------------------------------
*/
// --- Imports
@import "../0-abstracts/abstracts";

/*
---------------------------------------------------------------
* --- Import Styling for Individual Single Project Components
---------------------------------------------------------------
*/
@import "./sp-components";

/*
---------------------------------------------------------------
* --- Buttons
---------------------------------------------------------------
*/
a {
    padding: 7px 12px 7px 12px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    transition: all 0.5s ease-out;
    text-align: center;
    &:hover {
        background: red;
        // cursor: url(""), auto;
        border: 1px solid red;
    }
}

// Mostly for Nav bar to show where user is at
a:active, 
a:focus {
    color: red;
}

/*
---------------------------------------------------------------
* --- Scroll To Top Widget
---------------------------------------------------------------
*/
button.scroll-to-top-btn {
    border-style: none;
    margin-bottom: 45px;
    &:hover {
        border-style: none;
        //cursor: url(), auto;
    }
}