/*
---------------------------------------------------------------
* --- Scroll To Top Widget
---------------------------------------------------------------
*/
button.scroll-to-top-btn {
    border-style: none;
    margin-bottom: 45px;
    &:hover {
        border-style: none;
        //cursor: url(), auto;
    }
}