/*
---------------------------------------------------------------
* --- Capstone Project - Etoile - Styling
---------------------------------------------------------------
*/
// --- Imports
@import "../../0-abstracts/abstracts";

.process-heading {
    text-align: center;
    margin: 75px auto;
    @media screen and (min-width: 50em) {
        font-size: 2em;
        margin: 125px auto;
    }
}

.single-project-component {
    &__process {
        font-size: 1em;
        width: 100%;
        margin: auto;
        padding: 28px;

        img {
            width: 100%;
            height: auto;
            margin: auto;
            margin-bottom: 35px;
        }

        span {
            //font-family: ;
            color: $accent1;
        }

        .timeline-divider {
            width: 5px;
            height: 50px;
            background: $accent1;
            margin: 75px auto;
        }

        h4 {
            font-size: 1.5em;
            margin-bottom: 10px;
        }

        .process-item {
            margin-top: 50px;
        }

        // Wireframes Section
        .wireframes {
            max-width: 1000px;
            margin: auto;
            margin-top: -150px;
            
            &__gallery {
                margin-top: 20px;
                @media screen and (min-width: 50em) {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-gap: 15px;
                    img {
                        margin: 0px;
                        padding: 0px;
                        height: 600px;
                        width: auto;
                    }
                }
                img {
                    margin: 0px;
                    width: 100%;
                    height: auto;
                    padding-bottom: 10px;
                }
            }   
        }

        // External Link for Documents
        .document-external-link {
            width: 100%;
            margin: auto;
            padding: 28px;
            text-align: center;

            &__text {
                margin-bottom: 15px;
            }
        }
    }
}

