/*
---------------------------------------------------------------
* --- Single Project Component Styling
---------------------------------------------------------------
*/
// --- Imports
@import "../../0-abstracts/abstracts";

.single-project-component {
    height: auto;
    color: white;

    hr {
        border: 1px solid red;
        width: 50px;
        height: 5px;
        background: red;
        margin: 15px 0px;
    }
}
// ------------------------------------------------------------
// -- * SPTitle
.single-project-component__title {
    color: white;
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    //margin-bottom: 125px;

    h1 {
        font-size: 2.5em;
        margin-bottom: 5px;
        text-align: center;
    }

    p {
        text-align: center;
        font-style: italic;
    }

    @media screen and (min-width: 45em) {
        h1 {
            font-size: 3em;
        }
    }
}

// ------------------------------------------------------------
// -- * SPOverview
.single-project-component__overview {
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    // Banner Images
    &--mobile-banner {
        //width: 80%;
        max-width: 700px;
        margin-bottom: 40px;
    }
    &--desktop-banner {
        display: none;
    }

    @media screen and (min-width: 50em) {
        &--mobile-banner {
            display: none;
        }

        &--desktop-banner {
            display: block;
            width: 75%;
            max-width: 900px;
            margin-bottom: 75px;
            margin-top: -60px;
        }
    }

    // Content
    &__content {
        padding: 28px;
        width: 100%;
        max-width: 800px;
        height: auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        // Overview Grid
        .scope, 
        .dev-team,
        .role,
        .tools,
        .duration {
            margin-bottom: 20px;
            width: 100%;
            max-width: 400px;
            @media screen and (min-width: 50em) {
                margin: 0px;
            }

            h2 {
                font-size: 1.25em;
                margin-bottom: 10px;
                color: red;
            }

            ul {
                li {
                    margin-bottom: 5px;
                }
            }
        }

        // Grid Area for each component
        .scope {
            grid-area:scope;
        }
        .dev-team {
            grid-area:devTeam;
        }
        .role {
            grid-area:role;
        }
        .tools {
            grid-area:tools;
            @media screen and (min-width: 25em) {
                ul {
                    display: grid;
                    grid-template-columns: repeat(3, 130px);
                    grid-gap: 10px;
                }
            }
        }

        // Media Queries for Overview Grid
        @media screen and (min-width: 50em) {
            display: grid;
            grid-template-areas:
                "scope role"
                "scope devTeam"
                "tools duration";
            grid-gap: 25px;

            height: auto;
            align-items: flex-start;
            justify-items: center;
            padding: 0px;
            margin-bottom: 75px;
            max-width: 800px;
        }
    }

    // Call To Actions
    &__cta {
        width: 100%;
        @include col-center-items;

        a {
            padding: 15px;
            margin: 10px;
            width: 200px;
        }

        @media screen and (min-width: 550px) {
            @include row-center-items;
        }
    }
}

// ------------------------------------------------------------
// -- * SPDesign
.single-project-component-design {
    width: 100%;
    max-width: 950px;
    @include row-center-items;
    margin: auto;
    height: 35em;

    &__container {
        padding: 28px;
        max-width: 600px;
        @media screen and (min-width: 50em) {
            padding: 20px;
            h3 {
                font-size: 3em;
            }
        }
    }

    @media screen and (min-width: 50em) {
        height: 600px;
    }
}

// ------------------------------------------------------------
// -- * SPColorPalette
.single-project-component-colors {
    padding: 20px;
    width: 100%;
    max-width: auto;
    height: 500px;
    @include col-center-items;

    // Color Swatch/Grid
    .color-items {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        @include row-center-items;

        .color-item {
            //margin-right: 15px;
            padding: 10px;
            .color-swatch {
                width: 65px;
                height: 65px;
                background: red;
                margin-bottom: 10px;
            }
            p {
                font-size: 0.75em;
            }
        }
    }

    @media screen and (min-width: 50em) {
        @include col-center-items;
        height: 40em;

        .color-items {
            width: 100%;
            @include row-center-items;
            .color-item {
                margin: 25px;
                .color-swatch {
                    width: 125px;
                    height: 125px;
                }
            }
        }
    }
}

// ------------------------------------------------------------
// -- * SPTypography
.single-project-component__typography {
    padding: 28px;
    width: 100%;
    max-width: 800px;
    margin: auto;
    font-size: 1em;
    height: 450px;
    
    // Typography Container
    @include col-center-items;
    .typography-container {
        @media screen and (min-width: 50em) {
            // Grid Areas
            .typeface {
                max-width: 600px;
                margin: 150px 0px;
                padding-left: 15%;
                .typeface-placeholder {
                    font-size: 0.9em;
                }
            }
        }

        .typeface {
            margin: 30px 0px;
            // Aa - Sample
            .typeface-sample {
                font-size: 1.75em;
                border: 1.25px solid white;
                width: 50px;
                height: 50px;
                @include col-center-items;
                margin-bottom: 10px;
            }

            // Typeface Name
            .typeface-name {
                font-size: 1.15em;
                margin-bottom: 5px;
            }

            .typeface-placeholder {
                font-size: 0.85em;
            }
        }
    }
}

// ------------------------------------------------------------
// -- * SPDevelopment
.single-project-component-development {
    width: 100%;
    max-width: 950px;
    @include row-center-items;
    margin: auto;
    height: 35em;
    font-size: 1em;

    &__container {
        max-width: 600px;
        padding: 28px;
        p {
            font-size: 0.8em;
        }
        @media screen and (min-width: 50em) {
            h3 {
                font-size: 3em;
            }

            p {
                font-size: 0.95em;
            }
        }
    }

    @media screen and (min-width: 50em) {
        height: 600px;
    }
}

// ------------------------------------------------------------
// -- * SPChallenges
.single-project-component-challenges {
    width: 100%;
    max-width: 950px;
    @include row-center-items;
    margin: auto;
    height: 35em;

    &__container {
        padding: 28px;
        max-width: 850px;
        @media screen and (min-width: 50em) {
            padding: 20px;
            h3 {
                font-size: 3em;
            }
        }
    }

    @media screen and (min-width: 50em) {
        height: 600px;
    }
}

// ------------------------------------------------------------
// -- * SPComingSoon
.single-project-component {
    &__coming-soon {
        height: 45em;
        font-size: 1em;
        @include col-center-items;
        h3 {
            margin-bottom: 10px;
        }
        
        @media screen and (min-width: 50em) {
            h3 {
                font-size: 3em;
            }
        }
    }
}

// ------------------------------------------------------------
// -- * Gallery for Images in Single Project Pages
// Design/Development Photos
.single-project-component {
    .design-gallery {
        width: 90%;
        margin: auto;
        @include col-center-items;
        img {
            width: 100%;
            max-width: 1000px;
            margin-bottom: 50px;
        }
    }
}

// Final Project Images - Desktop
.final-project-gallery--desktop {
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    // Header 
    h3 {
        font-size: 2em;
    }
    
    //Images
    .desktop-gallery {
        img {
            width: 100%;
            height: auto;
            max-width: 1000px;
            //margin-bottom: 50px;
            @include col-center-items;
        }
    }

    @media screen and (min-width: 50em) {
        @include col-center-items;
    }
}

// Final Project Images - Mobile
.final-project-gallery--mobile {
    padding: 20px;
    max-width: 825px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    // Header
    h3 {
        font-size: 2em;
    }

    @media screen and (min-width: 50em) {
        max-width: 100%;
        @include col-center-items;
    }

    .mobile-gallery {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        img {
            width: 100%;
            //max-width: 100%;
            height: auto;
            margin-bottom: 25px;
        }

        // Tablet Mode
        @media screen and (min-width: 630px) {
            display: grid;
            grid-template-columns: repeat(2, 40%);
            img {
                height: 350px;
                width: auto;
            }
        }

        //Desktop Mode
        @media screen and(min-width: 900px) {
            grid-template-columns: repeat(4, 21.5%);
            margin-left: -20px;
            img {
                height: 400px;
                width: auto;
            }
        }
    }
}

// ------------------------------------------------------------
// -- * Call To Action Buttons (Bottom of each Single Project Page)
.single-project-component__navigate-projects {
    width: 100%;
    max-width: 1000px;
    height: 250px;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;

    // User Interaction Styling
    .go-back-home, 
    .next-project {
        width: 200px;
        transition: all 0.4s ease-out;
        border-style: none;
        p {
            font-size: 1em;
        }

        &:hover {
            color: red;
            background: none;
        }
    }

    // Project CTA 
    .project-cta {
        @include col-center-items;
        @media screen and (min-width: 50em) {
            @include row-center-items;
        }

        a {
            width: 175px;
            margin: 10px;
            padding: 15px;
            @media screen and (min-width: 650px) {
                margin: 5px;
            }
        }
    }

    @media screen and (min-width: 650px) {
        flex-direction: row;

        // Back Home Button
        .go-back-home {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-items: center;
        }

        // Next Project Button
        .next-project {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-items: center;
        }
    }
}