/*
---------------------------------------------------------------
* --- Single Project - Development Component Styling
---------------------------------------------------------------
*/
// --- Imports
@import "../../0-abstracts/abstracts";

.single-project-component-development {
    width: 100%;
    max-width: 950px;
    @include row-center-items;
    margin: auto;
    height: 35em;
    font-size: 1em;

    &__container {
        max-width: 650px;
        padding: 28px;
        p {
            font-size: 0.8em;
        }
        @media screen and (min-width: 50em) {
            h3 {
                font-size: 3em;
            }

            p {
                font-size: 0.95em;
            }
        }
    }

    @media screen and (min-width: 50em) {
        height: 600px;
    }
}