/*
---------------------------------------------------------------
* --- Imports
---------------------------------------------------------------
*/
// --- Normalize
@import "./normalize";
// --- Abstracts
@import "../0-abstracts/abstracts";

/*
---------------------------------------------------------------
* --- HTML Selectors
---------------------------------------------------------------
*/
html {
    width: 100%;
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-size: 1em;
        //font-family: ;
    }
    // scroll behaviours for navigation interactions
    scroll-behavior: smooth;
}

body {
    background: darkslateblue;
    width: 100%;
    overflow-x: hidden;
    //
}

/*
---------------------------------------------------------------
* --- Typography
---------------------------------------------------------------
*/

