/*
---------------------------------------------------------------
* --- Footer Component Styling 
---------------------------------------------------------------
*/
// --- Imports
@import "../0-abstracts/abstracts";

.footer {
    color: white;
    width: 100%;
    font-size: 1em;
    height: 40em;

    // Top Section
    &__top-section {
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70%;

        h3 {
            font-size: 2em;
            margin-bottom: 40px;
            //margin: auto;
            color: white;
            @media screen and (min-width: 50em) {
                font-size: 2.75em;
            }
        }

        button svg {
            &:hover {
                color: $accent1;
            }
        }

        a {
            padding: 15px 40px;
        }
    }

    // Bottom Section 
    &__bottom-section {
        background: transparent;
        height: 30%;
        @include col-center-items;
        .footer-social-icons {
            a {
                border-style: none;
                &:hover {
                    background: none;
                }
            }
        }
        svg {
            margin: 5px;
            margin-bottom: 10px;
            transition: all 0.4s ease-out;
            &:hover {
                fill: $accent1;
            }
        }

        h4 {
            font-size: 1.1em;
            font-weight: 600;
            margin-bottom: 15px;
        }

        .copyright {
            font-size: 0.75em;
        }
    }
}
